@using GigHub.Core
@using GigHub.Core.ViewModels
@model GigsViewModel

<h2 class="voffset4">@Model.Heading</h2>
@Html.AntiForgeryToken()

@using (Html.BeginForm("Search", "Gigs"))
{
    <div class="form-group">
        <div id="searchGigs" class="input-group">
            @Html.TextBoxFor(m => m.SearchTerm, new {@class = "form-control", placeholder="Search by artist, genre..." })
            <span class="input-group-addon">
                <i class="glyphicon glyphicon-search"></i>
            </span>
        </div>  
    </div>    
}

@foreach (var gig in Model.UpcomingGigs)
{
    <ul class="gigs">
        @Html.Partial("_upcomingGig", new GigViewModel
        {
            Attending = Model.Attendances.Contains(gig.Id),
            Gig = gig
        })
    </ul>
}


@section scripts
{
    <script>
        $(document).ready(function() {
            GigsController.init(".gigs", "@AppConst.GoingText", "@AppConst.NotGoingYetText");

            $('[data-toggle="popover"]').popover({
                html: true,
                placement: "right",
                trigger: "hover"
            });  
        })
    </script>
}
